.ui-page-theme-a {
  background-color: #fff;
}

.ui-header{
  background-color: #2D529C;
  border: 0;
}

/*.foot-navbar {
  position: absolute;
  bottom: 0;
  width: 100%;
}*/

.adv-bar{
  background-image: url(../image/banner.png);
  background-size: cover;
  height: 148px;
}

.main-btn-group{
  background-color: #eee;
}

.main-btn-group>div{
  padding: 20px 15px;
}

#earn_btn{
  background-color: #2D529C;
  color: #fff;
  text-shadow: 0 1px 0 #059;
}

#earn_btn:active{
  background-color: #123B81;
}

#requirment_btn{
  background-color: #E3620C;
  color: #fff;
  text-shadow: 0 1px 0 #059;
}

#requirment_btn:active{
  background-color: #A73E04;
}

.home-btn-group {
  /*position: absolute;*/
  left: 0;
  right: 0;
  /*bottom: 58px;*/
  display: block;
  margin: 5px 0 0 0;
  padding: 0;
}

.home-btn-group>div>a {
  padding: 0 8px;
  color: #444;
  text-decoration: initial;
}

.home-btn-group .btn-img {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.home-btn-group .category-btn{
  /*height: 110px;*/
  text-align: center;
  margin: 0 auto;
  width:60px;
  color: #000;
  padding: .4em 0em;
}

.controlgroup-textinput{
    padding-top:.22em;
    padding-bottom:.22em;
}

.spinner {
  background: url('../image/loading.jpg') no-repeat center;
  height: 100px;
}

div.ui-checkbox>label.ui-btn {
  border-style: none;
  background-color: #fff;
}
div.ui-checkbox>label.ui-btn:hover {
  background-color: #fff;
}

#signin_dlg{
  min-width:200px;
  max-width:400px;
}

#code_btn{
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 35px;
  padding: 0;
  margin: 0;
}


/* 发布任务 */
.publish-detail {
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  display: block;
  margin: 0;
  padding: 0;
}

.ui-controlgroup-controls>.ui-btn {
  background-color: #fff;
  padding: 0;
  margin: 0;
  padding: 8px 0;
}
.ui-controlgroup-controls>.ui-btn:hover{
  background-color: #fff;
}
.input-group .ui-btn .input-item{
  width:100%;
  display: inline-block;
  margin: 0;
}
.input-group .ui-btn  .input-item .input-label{
  width: 25%;
  text-align: left;
  border-right: #ccc solid 1px;
  display: inline-block;
  padding: 10px;
}
.input-group .ui-btn  .input-item .ui-input-text,.input-group .ui-btn .input-item .ui-select,.input-group .ui-btn .input-item .ui-checkbox{
  width: 67%;
  display: inline-block;
  margin: 0;
  padding: 0 0 5px 0;
  border: 0;
  box-shadow: none;
  vertical-align: middle;
}
.input-group .ui-btn .input-item .ui-select>a{
  padding: 0;
  border: 0;
  height: 24px;
  background-color: #fff;
  color: #000;
  text-shadow: 0 0 0 #fff; 
}
.input-group .ui-btn .input-item .ui-select>a:focus{
  box-shadow: 0 0 0 #fff;
}
.input-group .ui-btn .input-item .ui-select>a>span{
  text-align: left;
  background-color: #fff;
  font-weight: normal;
}
.input-group .ui-btn  .input-item>fieldset{
  width: 70%;
  display: inline-block;
  text-align: left;
}
.input-group .ui-input-text input{
  overflow: hidden;
  padding: 0;
}

.input-group .detail-divider{
  height: 20px;
  border: 0;
  background-color: #eee;
}
.input-group .detail-divider:hover{
  background-color: #eee;
}
.input-group>.ui-controlgroup-controls>.ui-btn{
  border-bottom-width: 0;
}

.input-group .ui-btn.ui-first-child{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group .ui-btn.ui-last-child{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ui-alt-icon .ui-btn:after {
  background-color: rgba(0,0,0,.0);
}

/*.publish-detail>.ui-btn{
  margin:20px;
}
.publish-detail>.ui-btn:hover{
  margin:20px;
}
.publish-detail>.ui-btn,#signin-btn,#user-center-page>.user-info-signin>.ui-btn{
  background-color: #2D529C;
  border: 0px;
  color: #fff;
  text-shadow: 0 1px 0 #059;
}
.publish-detail>.ui-btn:hover,#signin-btn:hover,#user-center-page>.user-info-signin>.ui-btn:hover{
  background-color: #2D529C;
  color: #fff;
  text-shadow: 0 1px 0 #059;
}
.publish-detail>.ui-btn:active,#signin-btn:active,#user-center-page>.user-info-signin>.ui-btn:active{
  background-color: #123B81;
}*/
#publish-page>.ui-btn{
  margin:20px;
}
#publish-page>.ui-btn:hover{
  margin:20px;
}
#publish-page>.ui-btn,#signin-btn,#user-center-page>.user-info-signin>.ui-btn{
  background-color: #2D529C;
  border: 0px;
  color: #fff;
  text-shadow: 0 1px 0 #059;
}
#publish-page>.ui-btn:hover,#signin-btn:hover,#user-center-page>.user-info-signin>.ui-btn:hover{
  background-color: #2D529C;
  color: #fff;
  text-shadow: 0 1px 0 #059;
}
#publish-page>.ui-btn:active,#signin-btn:active,#user-center-page>.user-info-signin>.ui-btn:active{
  background-color: #123B81;
}

/* 账号 */
#account-page .publish-detail a{
  background-color: #ffffff;
  height: 35px;
  line-height: 35px;
  border: 1px solid #aaa;
}
#account-page .ui-listview{
  padding: 0 10px;
}
#account-page li{
  margin-bottom: 10px;
}
#account-page .cert-label{
  margin: 25px 15px 15px 15px;
  color: #4365a7;
  font-weight: bold;
}
#account-page button {
  width: 100px;
  margin: 10px auto;
}

/* 城市列表 */
#sorter li {
	height: 3.8%;
	padding: 0;
	font-size: 8px;
	padding-left: 5px;
	line-height: 1.8em;
	text-align: left;
}
#sorter li span {
	margin-top: 8%;
	display: block;
}
#sorter{
	position: fixed;
	top: 60px;
	right: 0;
	width: 20px;
	z-index: 1;
}
#sorter ul{
	height: 100%;
}
#cities-page .ui-btn-icon-right:after{
  display:none;
}

/* 个人中心 */
#user-center-page>.user-info-signin {
  height:120px;
  display: -webkit-box;
  -webkit-box-align: center;
}
#user-center-page>.user-info-signin>.ui-btn{
  width: 160px;
  margin: 0 auto;
}
#user-center-page>.user-info{
  height:120px;
  width: 100%;
  display: inline-block;
}
#user-center-page>.user-info>.user-info-logo{
  width:30%;
  height: 100%;
  position: relative;
  display: inline-block;
}
#user-center-page .user-info-image{
  position: absolute;
  background: url(../image/avatar2.png) no-repeat center center;
  background-size: cover;
  top: 15px;
  left: 15px;
  width: 90px;
  height: 90px;
}
#user-center-page>.user-info>.user-info-txt{
  width: 60%;
  height: 100%;
  display: inline-block;
  position: relative;
}
#user-center-page .user-info-name{
  position: absolute;
  top: 40px;
  font-weight: bold;
  font-size: 1.5em;
}
#user-center-page .user-cert{
  position: absolute;
  top: 78px;
  left: 4px;
  font-weight: bold;
  color: #3B5DA1;
}
#user-center-page .company-cert{
  position: absolute;
  top: 78px;
  left: 84px;
  font-weight: bold;
  color: #3B5DA1;
}
#user-center-page>.ui-grid-a,#user-center-page>.help{
  border-top: 1px solid #aaa;
}
#user-center-page>.ui-grid-a>div,#user-center-page>.help{
  border-bottom: 1px solid #aaa;
  height: 60px;
  line-height: 60px;
}
#user-center-page>.ui-grid-a>.ui-block-a{
  border-right: 1px solid #aaa;
}
#user-center-page>.ui-grid-a>div>div,#user-center-page>.help{
  text-align: left;
  padding: 0 0 0 20px;
  font-weight: bold;
  /*color: #888;*/
}
#user-center-page .tasks-entry:active{
  background-color: #d0d0d0;
}

/* 任务列表 */
.jqm-navmenu-panel .ui-listview > li .ui-collapsible-heading {
	margin: 0;
}
.jqm-navmenu-panel .ui-collapsible.ui-li-static {
	padding: 0;
	border: none !important;
}
.jqm-navmenu-panel .ui-collapsible + li > .ui-btn,
.jqm-navmenu-panel .ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn,
.jqm-navmenu-panel .ui-panel-inner > .ui-listview > li.ui-first-child .ui-btn {
	border-top: none !important;
}
.jqm-navmenu-panel .ui-listview .ui-listview .ui-btn {
	padding-left: 1.5em;
	color: #999;
}
.jqm-navmenu-panel .ui-listview .ui-listview .ui-btn.ui-btn-active {
	color: #fff;
}
.jqm-navmenu-panel .ui-btn:after {
	opacity: .4;
	filter: Alpha(Opacity=40);
}
.jqm-navmenu-panel.jqm-panel-page-nav {
	display: none;
	position: absolute;
	top: 178px;
	left: 12px;
}
.jqm-navmenu-panel.jqm-panel-page-nav ul li:first-child a{
	border-top: none;
}

.filter-bar{
  height: 35px;
}
.ui-header .ui-btn-left{
  border: 0 !important;
  background-color: #2e539d !important;
  color: #fff !important;
}
.ui-header .ui-btn-left:after{
  background-color: #2e539d !important;
}
html .ui-bar-b .ui-btn{
  background-color: #eee;
  color: #000;
  text-shadow: 0 0 0;
  font-weight: normal;
  border: 0;
  border-right: 1px solid;
}
html .ui-bar-b .ui-btn:hover{
  background-color: #eee;
  color: #000;
  text-shadow: 0 0 0;
}
html .ui-bar-b .ui-btn:active{
  background-color: #ccc;
}

[class*=ui-block-]>.ui-btn{
  margin: 0;
  background-color: #ddd;
}

#tasks-page .filter-bar .ui-select{
  margin: 0;
}
#tasks-page .filter-bar .ui-select a{
  border-radius: 0;
  background-color: #eee;
  color: #000;
}
#tasks-page .publish-detail{
  top:70px;
}
#tasks-page .input-item{
  height:50px;
  text-align:left;
}
#tasks-page .ui-controlgroup-controls>div:active{
  background-color: #ddd;
}
#tasks-page .task-list-title{
  width:100%;
  text-align: left;
  margin-left: 20px;
  margin-bottom:10px;
  color: #2e539d;
}
#tasks-page .task-list-detail{
  width:100%;
  display: inline-block;
  font-weight: normal;
}
#tasks-page .task-list-zone{
  width:30%;
  text-align: left;
  margin-left: 20px;
  display: inline-block;
}
#tasks-page .task-list-pay{
  width:30%;
  text-align: left;
  display: inline-block;
}
#tasks-page .task-list-pubtime{
  width:40%;
  text-align: left;
  display: inline-block;
}

/* 服务方信息 */
#server-info-page .publish-detail{
  top:70px;
}
#server-info-page .input-item{
  height:160px;
  text-align:left;
  display: inline-block;
}
#server-info-page .ui-controlgroup-controls>div:active{
  background-color: #ddd;
}

#server-info-page .server-avatar{
  position: absolute;
  /*background-color: #ddd;*/
  background: url(../image/avatar.png) no-repeat center center;
  background-size: contain;
  width: 120px;
  height: 90%;
  z-index: 1;
}
#server-info-page .server-info{
  position: absolute;
  width: 100%;
  padding-left: 120px;
  height: 90%;
  z-index: 0;
}

#server-info-page .server-name{
  font-size: 1.2em;
  font-weight: bold;
  width:100%;
  margin-left:20px;
  margin-top:20px;
  margin-bottom:20px;
}

#server-info-page .server-zone{
  width:100%;
  margin-left: 20px;
  margin-bottom:10px;
}

#server-info-page .row1{
  width:100%;
  margin-left: 20px;
  margin-bottom:10px;
  display: inline-block;
}

#server-info-page .row1>span{
  width:30%;
  float: left;
}

#server-info-page .row2{
  width:100%;
  margin-left: 20px;
  margin-bottom:10px;
}

#server-info-page .row2>span{
  width:30%;
  float: left;
}

#server-info-page .task-list-detail{
  width:100%;
  display: inline-block;
  font-weight: normal;
}
#server-info-page .task-list-zone{
  width:30%;
  text-align: left;
  margin-left: 20px;
  display: inline-block;
}
#server-info-page .task-list-pay{
  width:30%;
  text-align: left;
  display: inline-block;
}
#server-info-page .task-list-pubtime{
  width:40%;
  text-align: left;
  display: inline-block;
}

/* 待付款任务 */
.user-tasks-page .publish-detail{
  top:35px;
}
.user-tasks-page .input-item{
  height: 60px;
  position: relative;
}
.user-tasks-page .task-list-title{
  width: 40%;
  top: 0px;
  left: 10px;
  text-align: left;
  position: absolute;
}
.user-tasks-page .task-deadline{
  width: 40%;
  top: 0px;
  right: 10px;
  text-align: right;
  position: absolute;
}
.user-tasks-page .task-list-pay{
  width: 40%;
  top: 30px;
  left: 10px;
  text-align: left;
  position: absolute;
}
.user-tasks-page .task-btn-pay{
  width: 80px;
  top: 30px;
  right: 10px;
  padding: 8px;
  position: absolute;
  text-align: center;
  background-color: #E3620C;
  color: #fff;
  text-shadow: none;
  border-radius: 3px;
}
.user-tasks-page .task-btn-pay:active{
  background-color: #e34d20;
}

/* 退款/投诉 */
.user-tasks-page .publish-detail{
  top:35px;
}
.user-tasks-page .input-item{
  height: 60px;
  position: relative;
}
.user-tasks-page .task-list-title{
  width: 40%;
  top: 0px;
  left: 10px;
  text-align: left;
  position: absolute;
}
.user-tasks-page .task-deadline{
  width: 40%;
  top: 0px;
  right: 10px;
  text-align: right;
  position: absolute;
}
.user-tasks-page .task-list-pay{
  width: 40%;
  top: 30px;
  left: 10px;
  text-align: left;
  position: absolute;
}
.user-tasks-page .task-btn-pay{
  width: 80px;
  top: 30px;
  right: 10px;
  padding: 8px;
  position: absolute;
  text-align: center;
  background-color: #E3620C;
  color: #fff;
  text-shadow: none;
  border-radius: 3px;
}
.user-tasks-page .task-btn-pay:active{
  background-color: #e34d20;
}
.user-tasks-page .task-btn-cancel{
  position: absolute;
  top: 30px;
  right: 60px;
}
.user-tasks-page .task-btn-tousu{
  position: absolute;
  top: 30px;
  right: 10px;
}

/* 消息列表 */
#message-list-page .input-group .ui-controlgroup-controls :active{
  background-color: #e4e4e4;
}
.publish-detail .ui-btn-icon-right:after{
  opacity: .4;
  background-color: transparent;
}
#message-list-page .input-item{
  height: 25px;
  margin-top: 10px;
  margin-left: 5px;
}
#message-list-page .message-list-title{
  width: 50%;
  text-align: left;
  float: left;
  color: #E3620C;
  text-decoration: underline;
}
#message-list-page .message-list-sender{
  width: 25%;
  text-align: left;
  float: left;
}
#message-list-page .message-list-date{
  width: 20%;
  text-align: left;
  float: left;
}

/* 消息 */
#message-page .message-info{
  background: #EDEDED;
  padding: 10px;
}
#message-page .message-info div{
  font-weight: bold;
  padding: 5px 0;
}
/*#message-page .message-list-title{
  width: 50%;
  text-align: left;
  float: left;
  color: #E3620C;
}
#message-page .message-list-sender{
  width: 25%;
  text-align: left;
  float: left;
}
#message-page .message-list-date{
  width: 20%;
  text-align: left;
  float: left;
}*/

/* 我的收藏 */
#my-fav-page .input-group .ui-controlgroup-controls :active{
  /*background-color: #e4e4e4;*/
}
#my-fav-page .input-item{
  height: 25px;
  margin-top: 10px;
  margin-left: 15px;
}
#my-fav-page .my-fav-title{
  width: 40%;
  text-align: left;
  float: left;
}
#my-fav-page .my-fav-date{
  width: 20%;
  text-align: left;
  float: left;
}
#my-fav-page .my-fav-del{
  width: 20%;
  text-align: left;
  float: right;
  color: #E3620C;
  text-decoration: underline;
}

/* 编辑资料 */
#edit-account-page{
  background-color: #e4e4e4;
}

#edit-account-page .user-edit-1{
  border: 1px solid #c9c9c9;
  height: 140px;
  margin:10px;
}

#edit-account-page .top-left-col{
  width:30%;
  height:100%;
  float:left;
  font-size: .8em;
}
#edit-account-page .user-avatar{
  background-color: #eee;
  height:100px;
  background: url(../image/avatar.png) no-repeat center center;
  background-size: contain;
}
#edit-account-page .user-age{
  text-align: center;
  font-weight: bold;
  color: #2e539d;
}
#edit-account-page .user-name{
  height: 80px;
  line-height: 100px;
  font-weight: bold;
  font-size: 1.5em;
}
#edit-account-page .user-city{
  text-align: center;
}
#edit-account-page .top-right-col{
  width:70%;
  height: 100%;
  float:left;
  font-size: .6em;
}

#edit-account-page .top-right-col-row-1{
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
}

#edit-account-page .row-left{
  width: 35%;
  float: left;
}

#edit-account-page .row-right{
  width: 60%;
  float: left;
}

#edit-account-page span{
  font-weight: bold;
  color: #2e539d;
}

#edit-account-page .user-edit-divider{
  border: 1px solid #c9c9c9;
  height: 10px;
  margin: -11px 10px 0 10px;
}

#edit-account-page .user-edit-2{
  border: 1px solid #c9c9c9;
  /*height: 150px;*/
  margin: -1px 10px 10px 10px;
  padding: 5px;
}

#edit-account-page .user-edit-3{
  border: 1px solid #c9c9c9;
  /*height: 150px;*/
  margin: -1px 10px 10px 10px;
  padding: 5px;
}
#edit-account-page textarea{
  border-radius: 0;
}

#edit-account-page .image-list{
  display: inline-block;
}
#edit-account-page .image{
  background-color: #f00;
  margin: 4px;
  float:left;
  width:75px;
  height:100px;
}

#edit-account-page .btn-add-image{
  border: 2px solid #aaa;
  background: url(../image/img-add-btn.png) no-repeat center center;
  background-size: contain;
  margin: 4px;
  float:left;
  width:75px;
  height:100px;
}

/* 实名认证 */
#real-name-auth-page .cert-image{
  margin: 5px auto;
  height: 150px;
  width: 100px;
  border: 2px solid #aaa;
  background: url(../image/img-add-btn.png) no-repeat center center;
  background-size: contain;
}

/* 实名认证 */
#company-auth-page .cert-image{
  margin: 5px auto;
  height: 150px;
  width: 100px;
  border: 2px solid #aaa;
  background: url(../image/img-add-btn.png) no-repeat center center;
  background-size: contain;
}

#comment-page .comment-row-1, #comment-page .comment-row-2{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

#comment-page .comment-row-1 label, #comment-page .comment-row-2 label{
  float: left;
  margin-right: 8px;
}

/* 评价管理 */
#comment-page ul{
  margin: 0;
  padding: 0;
}

#comment-page ul li{
  list-style: none;
  float: left;
}

#comment-page ul li a {
  display: block;
  width: 33px;
  height: 33px;
  margin: -8px 0 0 0;
  background: url(../image/gray-star.png) no-repeat 0 0;
}
#comment-page ul li a.active {
  background: url(../image/red-star.png) no-repeat 0 0;
}
#comment-page .comment-btn{
  width: 65px;
  height: 30px;
  line-height: 30px;
  padding: 5px 30px;
  margin: 20px auto;
  text-align: center;
  background-color: #E3620C;
  text-shadow: none;
  border-radius: 3px;
}
#comment-page .comment-btn:active{
  background-color: #e34d20;
}

/* 发布成功 */
#publish-success-page .publish-success-row{
  display: inline-block;
  margin: 50px auto 0 auto;
}
#publish-success-page .publish-success-right{
  width:43px;
  height:43px;
  line-height:43px;
  background: url(../image/duihao.png) no-repeat 0 0;
  float:left;
}
#publish-success-page .publish-success-text{
  height: 43px;
  line-height: 43px;
  float: left;
  font-weight: bold;
  margin-left: 10px;
}
#publish-success-page .publish-preview-btn{
  height: 43px;
  line-height: 43px;
  float: left;
  font-weight: bold;
  margin-left: 10px;
}
#task-detail-page .share-btn, #signin-page .reg-btn{
  color: #fff;
  background-color: #2e539d !important;
  font-weight: bold;
  border: 0;
}